global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'yc-backend-api'
    static_configs:
      - targets: ['backend:9001']
    metrics_path: '/metrics'
    scrape_interval: 5s

  - job_name: 'yc-code-executor'
    static_configs:
      - targets: ['code-executor:9002']
    metrics_path: '/metrics'
    scrape_interval: 5s